In [3]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')
!ls "/content/real.xlsx - real.csv"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
ls: cannot access '/content/real.xlsx - real.csv': No such file or directory

In [6]:
df2=pd.read_csv('/content/real.xlsx - real.csv')
print(type(df2))
print(df2)

<class 'pandas.core.frame.DataFrame'>
                  street             city    zip state  beds  baths  sq__ft  \
0           3526 HIGH ST       SACRAMENTO  95838    CA     2      1     836
1            51 OMAHA CT       SACRAMENTO  95823    CA     3      1    1167
2         2796 BRANCH ST       SACRAMENTO  95815    CA     2      1     796
3       2805 JANETTE WAY       SACRAMENTO  95815    CA     2      1     852
4        6001 MCMAHON DR       SACRAMENTO  95824    CA     2      1     797
..                   ...              ...    ...   ...   ...    ...     ...
980   9169 GARLINGTON CT       SACRAMENTO  95829    CA     4      3    2280
981      6932 RUSKUT WAY       SACRAMENTO  95823    CA     3      2    1477
982    7933 DAFFODIL WAY   CITRUS HEIGHTS  95610    CA     3      2    1216
983     8304 RED FOX WAY        ELK GROVE  95758    CA     4      2    1685
984  3882 YELLOWSTONE LN  EL DORADO HILLS  95762    CA     3      2    1362

            type                     sale_date   price   latitude   longitude
0    Residential  Wed May 21 00:00:00 EDT 2008   59222  38.631913 -121.434879
1    Residential  Wed May 21 00:00:00 EDT 2008   68212  38.478902 -121.431028
2    Residential  Wed May 21 00:00:00 EDT 2008   68880  38.618305 -121.443839
3    Residential  Wed May 21 00:00:00 EDT 2008   69307  38.616835 -121.439146
4    Residential  Wed May 21 00:00:00 EDT 2008   81900  38.519470 -121.435768
..           ...                           ...     ...        ...         ...
980  Residential  Thu May 15 00:00:00 EDT 2008  232425  38.457679 -121.359620
981  Residential  Thu May 15 00:00:00 EDT 2008  234000  38.499893 -121.458890
982  Residential  Thu May 15 00:00:00 EDT 2008  235000  38.708824 -121.256803
983  Residential  Thu May 15 00:00:00 EDT 2008  235301  38.417000 -121.397424
984  Residential  Thu May 15 00:00:00 EDT 2008  235738  38.655245 -121.075915

[985 rows x 12 columns]

In [9]:
df2.columns

Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'sale_date', 'price', 'latitude', 'longitude'],
      dtype='object')

In [8]:
df2.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [10]:
df2.shape

(985, 12)

In [11]:
df2['price']

0       59222
1       68212
2       68880
3       69307
4       81900
        ...
980    232425
981    234000
982    235000
983    235301
984    235738
Name: price, Length: 985, dtype: int64

1) Find out the maximum and minimum price of the flat.**bold text**

In [12]:
df2['price'].max()

884790

In [13]:
df2['price'].min()

1551

2) Find out the maximum and minimum price of the flats in each range, like 1
bedroom, 2 bedrooms and 3 bedrooms and so on.

In [14]:
df2['beds']

0      2
1      3
2      2
3      2
4      2
      ..
980    4
981    3
982    3
983    4
984    3
Name: beds, Length: 985, dtype: int64

In [25]:
#Group the data by number of bedrooms and get the maximum and minimum prices for each group
df3=df2.groupby('beds')['price'].max()
print(df3)

beds
1.0    210944
2.0    575000
3.0    677048
4.0    884790
5.0    760000
6.0    830000
8.0    282400
Name: price, dtype: int64

In [16]:
df3=df2.groupby('beds')['price'].min()
print(df3)

beds
0      4897
1     48000
2     40000
3      1551
4      4897
5    150000
6    159900
8    282400
Name: price, dtype: int64

In [17]:
df3=df2.groupby('beds')['price'].agg(['min','max'])
print(df3)

         min     max
beds
0       4897  680000
1      48000  210944
2      40000  575000
3       1551  677048
4       4897  884790
5     150000  760000
6     159900  830000
8     282400  282400

3) On average, which is a costly city in respect of the prices of flats?

In [18]:
df3=df2.groupby('city')['price'].mean()
most_expensive_city=df3.idxmax()
print("The most expensive city is:",most_expensive_city)

The most expensive city is: GRANITE BAY

4) Which flats are more costly? Residential or condo? What is the average price?

In [20]:
result=df2.groupby('type')['price'].max()
result2=df2.groupby('type')['price'].mean()
if(result[0]>result[2]):
  print("Condo has the highest flat prices with average price of flats:",result2[0])
else:
  print("Residential has the highest flat prices with average price of flats:",result2[2])

Residential has the highest flat prices with average price of flats: 239186.1624863686

5) Do we need to take care of the missing values? Which feature will you look for?
Handle the missing values using at least 2 different methods.

In [24]:
    df3=['beds','baths','sq__ft'] 
    df2.non_zero=df2.copy()
    df2[df3]=df2[df3].replace(0,np.nan)
    print(df2[df3])
    df2

     beds  baths  sq__ft
0     2.0    1.0   836.0
1     3.0    1.0  1167.0
2     2.0    1.0   796.0
3     2.0    1.0   852.0
4     2.0    1.0   797.0
..    ...    ...     ...
980   4.0    3.0  2280.0
981   3.0    2.0  1477.0
982   3.0    2.0  1216.0
983   4.0    2.0  1685.0
984   3.0    2.0  1362.0

[985 rows x 3 columns]

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2.0,1.0,836.0,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3.0,1.0,1167.0,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2.0,1.0,796.0,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2.0,1.0,852.0,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2.0,1.0,797.0,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4.0,3.0,2280.0,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3.0,2.0,1477.0,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3.0,2.0,1216.0,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4.0,2.0,1685.0,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3.0,2.0,1362.0,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915